header {
  nav {
    div {
      .navbar-brand {
        color: lemonchiffon;
        font-size: large;
        font-weight: 400;
      }
    }
    div {
      ul {
        li {
          .nav-link {
            color: white;
          }
        }
      }
    }
  }
}
